.first
{
    color:white;
    text-align: center;
}
.second
{
    color: black;
}
.div1{
    background-color: aqua;

}
button{
    background-color: red;
    color: black;
    border:single;
    border-color: gray;
}
.third
{
    color:purple;
    margin-left: 60px;
}
.div3
{
    color: black;
   border: 2px solid brown;
   padding-left: 40px;
}
.div5{
    background-color:mediumslateblue;
    text-align: center;
    border: 10px solid black;
    width: 450px;
    height: 200px;
    margin-left: 20px;
    padding:30px;
}
.div6
{
    width: 30px;
    height: 30px;
    background-color:darkslategray;
    border: 35px solid orange;
    margin-left: 80px;
}
.div7
{
    background-image: url(./task.jpg);
    color: white;
    width:100%;
    height: 750px;
    margin:0;
}
.div8
{
    background-image:linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
    width: 100%;
    height:70px;
    color: gray;
    text-align: center;
    padding-top:10px;
}
.fi
{
    text-decoration:overline;
    
}
.se
{
    text-decoration: line-through;
}
.th
{
    text-decoration: underline;
}
.fo {
    text-decoration:overline underline;
}
.cen
 {
    text-align: center;
 } 
 .left
 {
    text-align: left;
 }
 .right
 {
    text-align: right;
 }
 .bordrad1
 {
    border: 4px solid brown;
    border-radius: 20px;
    padding-left: 10px;
 }
 .bordrad2
 {
    border: 4px solid brown;
    border-radius: 40px 20px;
    padding-left: 10px;
 }
 .flex1
 {
    display:flex;
    justify-content: space-between;
    align-items: center;
 }
 .flex2
 {
     display: flex;
    align-items: center;
    justify-content: center;
 }
 .flex3
 {
     display:flex;
    justify-content: space-between;
    align-items: center;
 }
 .parent{
    height: 600px;
    width:600px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2px;
}
.child{
    height: 100px;
    width:100px;
    margin: 2px;
    border: 2px solid black;
}
.parent1{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:100px;
    width:600px;
}
.parent2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width:530px;
}
.rad{
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
}
.sign
{
    background-image: url('./form.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up{
    width: 340px;
    height: 550px;
    background-color:white;
    margin-top: 15px;
    opacity: 0.9;
}

form{
    width: 300px;
    height: 430px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
form label{
    display: flex;
    margin-top: 18px;
    font-size: 16px;
    font-weight: bold;  
}
.exp{
    width: 280px;
    padding: 7px;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
}
.register{
    margin-top: 12px;
   width: 300px;
   padding:7px;
   background-color: #373B3E;
   color:#F1F1F1;
   margin-left: 20px;
}
.register:hover{
    background-color: grey;
    color:black;
}
